h1 {
	font-family: 'Bangers', cursive;
	font-size: 3rem;
	padding-bottom: 1rem;
}

h2, h3, h4, h5, h6, p, a {
	font-family: 'Open Sans', sans-serif;
}

html {
	background-color: #F9F9F9;
}

a {
	color: #555555;
	text-decoration: none;
}

a:hover {
	color: #000000;
}

.button {
	background-color: white;
	border-radius: 5px;
	padding: 1rem;
}
/*
.footer {
	place at bottom
}*/

.timer {
	background-color: white;
	border-radius: 5px;
	padding: 2rem;
}