<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <title>Get It Done</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Bangers|Open+Sans' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="/styles/style.css"/>
    <link rel="icon" type="image/png" href="/assets/images/three.png"/>
</head>
<body class="container">
	<section class="navigation">
		<ul class>
			<li><a ui-sref="start">Get Working!</a></li>
			<li><a ui-sref="break" id="mid-li">Break</a></li>
			<li><a ui-sref="faq">FAQ</a>
		</ul>
	</section>

	<h1>Get It Done</h1>
	
	<section class="timer" ng-controller="TimerCtrl">
		<div id="main-timer">
			<p>{{ time }}</p>
		</div>
		<div class="button" id="start-button" ng-click="start()">Start</div>
		<div class="button" id="reset-button" ng-click="reset()">Reset</div>

	</section>

	<ui-view></ui-view>

	<!--JQuery-->
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<!-- AngularJS -->
	 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	<!--UI Router-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
	<!-- Firebase -->
	<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
	<!-- AngularFire -->
	<script src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>

	<!--Angular APP FILES-->
    <script src="/scripts/app.js"></script>
    <script src="/scripts/controllers/StartCtrl.js"></script>
    <script src="/scripts/controllers/FaqCtrl.js"></script>
    <script src="/scripts/controllers/TimerCtrl.js"></script>
</body>
</html>
